volumes:
  pg_data:
    driver: local

x-base:
  &base-backend
  stdin_open: true
  tty: true
  depends_on:
    - db
  env_file:
    - .env
  volumes:
    - .:/app

services:
  db:
    image: postgres:16
    volumes:
      - "pg_data:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: admin_page
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  backend:
    <<: *base-backend
    build:
      context: .
    env_file:
      - .env
    command: gunicorn -c gunicorn-conf.py server:app --reload
    ports:
        - "4000:4000"