.env
.env.*
.pyenv
.vscode/
.idea/
*.pyc
*.pyo

__pycache__/
staticfiles/
media/

*.log
*.swp
*.swo
db.sqlite3
*.sqlite3
*.db

node_modules/
bower_components/
*.bak
*.zip
*.rar
*.gz
*.tar
*.tar.gz
*.tgz
*.bz2
*.xz
.DS_Store